@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom style tambahan jika dibutuhkan */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
